@font-face {
	font-family: YSText;
	font-display: swap;
	src: url('../fonts/YSText-Regular.woff2') format('woff2'), url('../fonts/YSText-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: YSText;
	font-display: swap;
	src: url('../fonts/YSText-Medium.woff2') format('woff2'), url('../fonts/YSText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: YSText;
	font-display: swap;
	src: url('../fonts/YSText-Black.woff2') format('woff2'), url('../fonts/YSText-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}