// reset
@import "reset";

// fonts
@import "fonts";

// transition
$animation-time: 0.3s;

// color
$text_black: #21201F;

$gradient_preview: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%);
$gradient_preview_while: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);

$price_current: #2E2C21;
$price_current_back: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);;
$price_previous: #808080;
$price_back: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
$price_back_mobile:linear-gradient(0deg, rgba(241, 241, 241, 0.60) 0%, rgba(241, 241, 241, 0.60) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);

$link_back: #ffde40;
$link_shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
$link_back_hover: #fc0;
$link_shadow_hover: 0px 4px 98px 0px rgba(255, 204, 0, 0.59);

$ellipse: #8241EF;
// ==============================================

* {
  box-sizing: border-box;
}

body {
  font-family: YSText;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  color: $text_black;
}

.container {
  max-width: 947px;
  margin: 0px auto;
  padding: 0 15px;
}


.main {
  position: relative;
}

.body {
  max-width: 420px;
  position: relative;
  z-index: 1;

  &__title {
    margin-bottom: 30px;
    @media (max-width: 475px) {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    margin-bottom: 48px;
  }
}

.logo {
  display: block;
  width: 176px;
  height: 50px;

  & img {
    width: 100%;
    height: 100%;
  }

  &--preview {
    margin-bottom: 66px;
    position: relative;
    z-index: 1;

    @media (max-width: 475px) {
      width: 112px;
      height: 32px;
      margin-bottom: 27px;
    }
  }

}


.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.96px;

  @media (max-width: 475px) {
    font-size: 32px;
    letter-spacing: -0.64px;
  }

  &--preview {
    font-size: 72px;
    letter-spacing: -1.44px;

    @media (max-width: 475px) {
      font-size: 36px;
      letter-spacing: -0.72px;
    }
  }
}

.subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%; /* 28.8px */

  @media (max-width: 475px) {
    font-size: 16px;
  }

  &--preview  {
    margin-bottom: 0;
    line-height: 130%;
    @media (max-width: 475px) {
      font-size: 18px;
    }
  }
}

.offer {
  &--preview {
    margin-bottom: 36px;
    line-height: 130%;

    @media (max-width: 475px) {
      font-size: 18px;
    }
  }
}

.price {
  background: $price_back;
  border-radius: 500px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 33px;

  @media (max-width: 475px) {
    height: 23px;
    background: $price_back_mobile;
  }


  &__current {
    height: 100%;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    color: $price_current;
    background: $price_current_back;

    @media (max-width: 475px) {
      padding: 0 8px;
    }
  }

  &__previous {
    height: 100%;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
    font-size: 16px;
    color: $price_previous;

    @media (max-width: 475px) {
      padding: 0 4px;
      font-size: 13px;
    }

  }
}

.link {
  text-decoration: none;
  color: $text_black;
  display: inline-flex;
  padding: 21.5px 49px;
  line-height: 22px;
  align-items: center;
  border-radius: 36px;
  background: $link_back;
  box-shadow: $link_shadow;
  outline: none !important;
  // transition: background $animation-time,
  //             box-shadow $animation-time;

  @media (min-width: 1024px) {
    transition: background $animation-time,
                 box-shadow $animation-time;
    &:hover {
      background: $link_back_hover;
      box-shadow: $link_shadow_hover;
    }
  }

  @media (max-width: 1024px) {
    &:active {
      background: $link_back_hover;
      box-shadow: $link_shadow_hover;
    }
  }

  &--preview {
    @media (max-width: 475px) {
      display: none;
    }
  }

  &--main {
    display: none;

    @media (max-width: 475px) {
      display: inline-flex;
      position: fixed;
      font-size: 18px;
      font-weight: 500;
      padding: 13.5px 0;
      justify-content: center;
      bottom: 24px;
      width: calc(100% - 60px);
      margin: 0 30px;
    }
  }
}

.preview {
  position: relative;

  @media (max-width: 475px) {
    padding: 0 17px;
  }

  &__content {
    height: 100dvh;
    max-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // transition: height .2s ease linear;
    @media (max-width: 475px) {
      display: block;
      padding-top: 32px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: $gradient_preview;
    opacity: 0.22;
    z-index: -2;
  }

  &::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: $gradient_preview_while;
    z-index: -1;
  }


  &__art {
    position: absolute;
    top: 0%;
    left: 35%;
    width: 85%;
    height: 100%;
    max-width: 776px;

    @media (max-width: 1280px) {
      width: 75%;
    }
    @media (max-width: 1100px) {
      width: 70%;
    }
    @media (max-width: 1002px) {
      width: 65%;
    }

    @media (max-width: 768px) {
      width: 100%;
      top: -5%;
      left: 0;
    }

    @media (max-width: 475px) {
      position: relative;
      height: 265px;
      width: 105%;
      top: -3%;
      left: -2%;
    }
  }

  &__ellipse {
    position: absolute;
    display: block;
    top: 43%;
    left: 0%;
    display: inline-block;
    width: 72%;
    height: 48%;
    background: #8241EF;
    border-radius: 48%;
    transform: translateY(-50%) rotate(39deg);
    opacity: .5;
    filter: blur(100px);

    @media (max-width: 475px) {
      display: none;
    }
  }

  &__scooter {
    position: absolute;
    top: 50%;
    display: block;
    line-height: 0;
    width: 100%;
    transform: translateY(-50%);

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__community {
    position: absolute;
    top: 49%;
    left: 24.5%;
    display: block;
    line-height: 0;
    width: 27%;

    @media (max-width: 823px) {
      display: none;
    }

    @media (max-width: 475px) {
      display: block;
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}


