// reset
@import "reset";

// fonts
@import "fonts";

// transition
$animation-time: 0.2s;
$animation-slide: .6s;

// color
$text_black: #21201F;

$gradient_preview: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%);
$gradient_preview_while: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);

$price_current: #2E2C21;
$price_current_back: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);;
$price_previous: #808080;
$price_back: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
$price_back_mobile:linear-gradient(0deg, rgba(241, 241, 241, 0.60) 0%, rgba(241, 241, 241, 0.60) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);

$link_back: #ffde40;
$link_shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
$link_back_hover: #fc0;
$link_shadow_hover: 0px 4px 98px 0px rgba(255, 204, 0, 0.59);

$ellipse: #8241EF;

$exclusive_image: #DEDEDE;
$detail: #C5C5C5;
// ==============================================

* {
  box-sizing: border-box;
}

a {
  outline: none !important;
}

button, a {
  &:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  font-family: YSText;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  color: $text_black;
}

.container {
  max-width: 947px;
  margin: 0px auto;
  padding: 0 15px;
}


.main {
  position: relative;
}

// ==================================================================
.body {
  max-width: 420px;
  position: relative;
  z-index: 1;

  &__title {
    margin-bottom: 30px;
    @media (max-width: 475px) {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    margin-bottom: 48px;
  }

  &--exclusive {
    max-width: 100%;
  }

  &--user {
    margin-left: auto;
    max-width: 440px;

    @media (max-width: 605px) {
      margin: 0;
      top: -31px;
    }

    @media (max-width: 351px) {
      top: -71px;
    }
    // @media (max-width: 605px) {
    //   margin-left: 0;
    // }
   }
}

// ==================================================================
.logo {
  display: block;
  width: 176px;
  height: 50px;

  & img {
    width: 100%;
    height: 100%;
  }

  &--preview {
    margin-bottom: 66px;
    position: relative;
    z-index: 1;

    @media (max-width: 475px) {
      width: 112px;
      height: 32px;
      margin-bottom: 27px;
    }
  }

}

// ==================================================================
.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.96px;

  @media (max-width: 475px) {
    font-size: 32px;
    letter-spacing: -0.64px;
  }

  &--preview {
    font-size: 72px;
    letter-spacing: -1.44px;

    @media (max-width: 475px) {
      font-size: 36px;
      letter-spacing: -0.72px;
    }
  }

  &--participation {
    font-size: 56px;
    letter-spacing: -1.12px;
    max-width: 827px;
    margin-bottom: 36px;

    @media (max-width: 475px) {
      font-size: 32px;
      letter-spacing: -0.64px;
      margin-bottom: 27px;
    }
  }

  &--exclusive {
    max-width: 827px;
    margin-bottom: 33px;

    @media (max-width: 475px) {
      padding: 0 17px;
      margin-bottom: 22px;
    }
  }

  &--buy {
    margin-bottom: 35px;

    @media (max-width: 475px) {
      margin-bottom: 22px;
    }
  }

  &--user {
    margin-bottom: 36px;

    @media (max-width: 605px) {
      margin-bottom: 21px;
    }
  }
}

// ==================================================================
.subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%; /* 28.8px */

  @media (max-width: 475px) {
    font-size: 16px;
  }

  &--preview  {
    margin-bottom: 0;
    line-height: 130%;
    @media (max-width: 475px) {
      font-size: 18px;
    }
  }

  &--participation {
    flex: 1;
  }

  &--exclusive {
    max-width: 442px;
    margin-bottom: 86px;

    @media (max-width: 885px) {
      max-width: 100%;
      margin-bottom: 30px;
    }

    @media (max-width: 475px) {
      padding: 0 17px;
      margin-bottom: 43px;
    }
  }

  &--buy {
    margin: 0;
  }

  &--user {
    margin-bottom: 42px;
    @media (max-width: 605px) {
      margin-bottom: 29px;
    }
  }
}

// ==================================================================
.offer {
  &--preview {
    margin-bottom: 36px;
    line-height: 130%;

    @media (max-width: 475px) {
      font-size: 18px;
    }
  }
}

// ==================================================================
.price {
  background: $price_back;
  border-radius: 500px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 33px;

  @media (max-width: 475px) {
    height: 23px;
    background: $price_back_mobile;
  }


  &__current {
    height: 100%;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    color: $price_current;
    background: $price_current_back;

    @media (max-width: 475px) {
      padding: 0 8px;
    }
  }

  &__previous {
    height: 100%;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
    font-size: 16px;
    color: $price_previous;

    @media (max-width: 475px) {
      padding: 0 4px;
      font-size: 13px;
    }

  }
}

// ==================================================================
.link {
  text-decoration: none;
  color: $text_black;
  display: inline-flex;
  padding: 21.5px 49px;
  line-height: 22px;
  align-items: center;
  border-radius: 36px;
  background: $link_back;
  // transition: background $animation-time,
  //             box-shadow $animation-time;

  @media (min-width: 1024px) {
    transition: background $animation-time,
                 box-shadow $animation-time;
    &:hover {
      background: $link_back_hover;
      box-shadow: $link_shadow_hover;
    }
  }

  @media (max-width: 1024px) {
    &:active {
      background: $link_back_hover;
      box-shadow: $link_shadow_hover;
    }
  }

  &--preview {
    box-shadow: $link_shadow;
    @media (max-width: 475px) {
      display: none;
    }
  }

  &--main {
    display: none;

    @media (max-width: 475px) {
      display: inline-flex;
      position: fixed;
      font-size: 18px;
      font-weight: 500;
      padding: 13.5px 0;
      justify-content: center;
      bottom: 24px;
      width: calc(100% - 60px);
      margin: 0 30px;
      z-index: 1000;
      transition: all $animation-time;
    }
  }

  &--user {
    @media (max-width: 475px) {
      width: 100%;
      padding: 13.5px 0;
      justify-content: center;
      font-size: 18px;
    }
  }
}

// ==================================================================
.preview {
  position: relative;

  @media (max-width: 475px) {
    padding: 0 17px;
  }

  &__content {
    height: 100vh;
    max-height: 850px;
    min-height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media (max-width: 475px) {
      display: block;
      padding-top: 32px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: $gradient_preview;
    opacity: 0.22;
    z-index: -2;
  }

  &::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: $gradient_preview_while;
    z-index: -1;
  }


  &__art {
    position: absolute;
    top: 0%;
    left: 35%;
    width: 85%;
    height: 100%;
    max-width: 776px;

    @media (max-width: 1280px) {
      width: 75%;
    }
    @media (max-width: 1100px) {
      width: 70%;
    }
    @media (max-width: 1002px) {
      width: 65%;
    }

    @media (max-width: 768px) {
      width: 100%;
      top: -5%;
      left: 0;
    }

    @media (max-width: 475px) {
      position: relative;
      height: 265px;
      width: 106%;
      top: -3%;
      left: -3%;
    }
  }

  &__ellipse {
    position: absolute;
    display: block;
    top: 43%;
    left: 0%;
    display: inline-block;
    width: 72%;
    height: 48%;
    background: $ellipse;
    border-radius: 48%;
    transform: translateY(-50%) rotate(39deg);
    opacity: .5;
    filter: blur(100px);

    @media (max-width: 475px) {
      display: none;
    }
  }

  &__scooter {
    position: absolute;
    top: 50%;
    display: block;
    line-height: 0;
    width: 100%;
    transform: translateY(-50%);

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__community {
    position: absolute;
    top: 49%;
    left: 24.5%;
    display: block;
    line-height: 0;
    width: 27%;

    @media (max-width: 823px) {
      display: none;
    }

    @media (max-width: 475px) {
      display: block;
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}

// ==================================================================
.participation {
  overflow: hidden;
  margin-bottom: 64px;

  @media (max-width: 475px) {
    padding: 0 17px;
    margin-bottom: 46px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -56px;

    @media (max-width: 768px) {
      margin: 0 -30px;
    }

    @media (max-width: 702px) {
      margin: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 56px;
    margin-bottom: 60px;
    // width: calc(100% / 2 - 112px);
    flex: 1 1 calc(100% / 2 - 112px);
    // min-width: 306px;

    @media (max-width: 768px) {
      margin: 0 30px;
      margin-bottom: 30px;
      flex: 1 1 calc(100% / 2 - 60px);
    }

    @media (max-width: 702px) {
      flex-direction: row;
      flex: 1 1 100%;
      margin-right: 0;
      margin-left: 0;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 475px) {
      margin-bottom: 23px;
    }
  }

  &__picture {
    width: 83px;
    height: 83px;
    margin-bottom: 16px;

    @media (max-width: 702px) {
      margin-right: 16px;
      margin-bottom: 0;
    }

    @media (max-width: 340px) {
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }
  }
  &__icon {
    width: 100%;
    object-fit: cover;
  }
}

// ==================================================================
.exclusive {
  overflow: hidden;
  margin-bottom: 80px;

  @media (max-width: 475px) {
    margin-bottom: 68px;
  }

  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__container {
    overflow: visible;

    @media (max-width: 475px) {
      overflow: hidden;
      margin-bottom: 22px;
    }
  }

  &__track {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    transform: rotate(2deg);

    @media (max-width: 992px) {
      justify-content: center;
    }

    @media (max-width: 885px) {
      transform: rotate(0deg);
    }

    @media (max-width: 475px) {
      flex-wrap: nowrap;
      justify-content: start;
      margin: 0;
      transition: all $animation-slide;
    }

  }

  &__item {
    width: calc(100% / 2 - 24px);
    margin: 0 12px;
    margin-bottom: 28px;
    border-radius: 64px;
    background: $exclusive_image;
    position: relative;

    @media (min-width: 885px) {
      &:nth-child(even) {
        position: relative;
        top: -230px;
      }
    }

    @media (max-width: 992px) {
      width: calc(100% / 2 - 10% - 24px);
    }

    @media (max-width: 885px) {
      width: calc(47% - 24px);
    }

    @media (max-width: 475px) {
      margin: 0;
      margin-right: 30px;
      border-radius: 50px;
    }
  }

  &__button {
    display: none;
    @media (max-width: 475px) {
      display: block;
      text-align: center;
      font-size: 0;
    }
  }

  &__prev,
  &__next {
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background: url('@img/arrow.svg') no-repeat center/100%;
    background-color: $link_back;
    transition: background-color $animation-time;

    &:disabled {
      opacity: 0.5;
    }
    &:active {
      background-color: $link_back_hover;
    }
  }

  &__prev {
    margin-right: 12px;
    transform: rotate(-180deg);
  }

  &__sticky {
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 115%;
    pointer-events: none;

    @media (max-width: 475px) {
      display: none;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    &--table {
      width: 86%;
      left: auto;
      right: -36%;
      top: -38%;

      @media (max-width: 885px) {
        width: 73%;
        left: auto;
        right: -24%;
        top: -29%;
      }
    }

    &--point {
      top: -30%;
      left: -58%;
      width: 117%;

      @media (max-width: 885px) {
        top: -27%;
        left: -42%;
        width: 100%;
      }
    }

    &--glass {
      width: 134.5%;
      top: auto;
      bottom: -82%;
      left: auto;
      right: -58%;
      height: auto;

      @media (max-width: 885px) {
        width: 114.5%;
        bottom: -72%;
        right: -42%;
      }
    }

    &--slider {
      display: none;
      @media (max-width: 475px) {
        display: block;
        top: -19%;
        width: 52%;
        left: auto;
        right: -13%;
      }
    }
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 64px;
    overflow: hidden;

    @media (min-width: 1024px) {
      &:hover {
        & .exclusive__image {
          transform: scale(1.1);
        }
      }
    }

    @media (max-width: 1024px) {
      &:active {
        & .exclusive__image {
          transform: scale(1.1);
        }
      }
    }

    @media (max-width: 475px) {
      border-radius: 50px;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    transition: all $animation-time;
  }
}

// ============================================================
.buy {
  position: relative;

  margin-bottom: 115px;

  @media (max-width: 605px) {
    margin-bottom: 26px;
  }

  @media (max-width: 478px) {
    padding: 0 17px;
  }

  &__art {
    position: absolute;
    top: -3%;
    left: 40%;
    width: 60%;
    height: 100%;
    max-width: 860px;

    @media (max-width: 768px) {
      left: 0%;
      width: 100%;
    }

    @media (max-width: 475px) {
      display: none;
    }
  }

  &__ellipse {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 41%;
    height: 48%;
    background: $ellipse;
    border-radius: 48%;
    transform: translate(-50%, -50%) rotate(39deg);
    opacity: .3;
    filter: blur(100px);
  }

  &__scooter {
    position: absolute;
    top: 50%;
    display: block;
    line-height: 0;
    width: 100%;
    transform: translateY(-50%);

   
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__plus {
    position: absolute;
    top: 15%;
    left: 18.5%;
    display: block;
    line-height: 0;
    width: 35%;

    @media (max-width: 1100px) {
      top: 24%;
      width: 30%;
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}

// ===================================================
.user {
  margin-bottom: 111px;

  @media (max-width: 1024px) {
    margin-bottom: 60px;
  }

  @media (max-width: 605px) {
    margin-bottom: 40px;
  }
  @media (max-width: 475px) {
    padding: 0 17px;
    margin-bottom: 39px;
  }

  @media (max-width: 340px) {
    margin-bottom: 0px;
  }

  &__content {
    // @media (max-width: 605px) {
    //   display: flex;
    //   flex-direction: column-reverse;
    // }
    position: relative;

    @media (max-width: 605px) {
      position: static;
      display: flex;
      flex-direction: column-reverse;
    }

  }

  &__art {
    position: absolute;
    top: 0;
    left: 0;
    width: 52%;
    height: 100%;

    @media (max-width: 1024px) {
      left: 5%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 605px) {
      position: relative;
      display: block;
      min-height: 374px;
      left: 0;
    }
  }

  &__ellipse {
    position: absolute;
    top: 41%;
    left: 32%;
    display: inline-block;
    width: 360px;
    height: 220px;
    background: $ellipse;
    border-radius: 412px;
    transform: translate(-50%, -50%) rotate(39deg);
    opacity: .3;
    filter: blur(100px);

    @media (max-width: 768px) {
      // width: 70%;
      left: 28%;
    }

    @media (max-width: 605px) {
      width: 246px;
      height: 160px;
      left: 50%;
      opacity: .5;
    }
  }

  &__scooter {
    position: absolute;
    top: 41%;
    left: 30%;
    width: 36%;
    height: 45%;
    transform: translate(-50%, -50%);
    display: block;
    line-height: 0;

    @media (max-width: 768px) {
      // width: 70%;
      top: 27%;
      left: 26%;
      width: 34%;
      transform: translate(-50%, -50%) rotate(10deg);
    }

    @media (max-width: 605px) {
      top: 45%;
      left: 49%;
      max-width: 153px;
      transform: translate(-50%, -50%);
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__community {
    position: absolute;
    top: 46%;
    width: 83%;
    height: 84%;
    left: 33%;
    transform: translate(-50%, -50%) rotate(-13deg);
    display: block;
    line-height: 0;

    @media (max-width: 768px) {
      display: none;
    }

    @media (max-width: 605px) {
      display: block;
      left: 54%;
      top: 49%;
      width: 87%;
      max-width: 322px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.detail {
  margin-bottom: 111px;

  @media (max-width: 1024px) {
    margin-bottom: 60px;
  }

  @media (max-width: 605px) {
    margin-bottom: 40px;
  }
  @media (max-width: 475px) {
    padding: 0 17px;
    margin-bottom: 39px;
  }

  

  &__info {
    font-size: 13px;
    font-weight: 400;
    line-height: 120%;
    color: $detail;

    @media (max-width: 475px) {
      font-size: 10px;
    }

    & a {
      color: $detail;
    }
  }
}


